Use this Notebook to obtain the Lat/Lon values through the Batch API request tool on geoapify.com

In [10]:
# Import dependencies
import pandas as pd
from geobatchpy import Client
from config import geo_key
from pprint import pprint

In [3]:
# Read in the school_postal csv
schools_df = pd.read_csv("Resources/school_postal.csv")

schools_df.head()

      URN               School name Postcode
0  103157  Shaw Hill Primary School   B8 3AN
1  103159   Adderley Primary School   B8 1DZ
2  103162    Barford Primary School  B16 0EF
3  103163     Beeches Junior School  B42 2PY
4  103164     Beeches Infant School  B42 2PY

In [5]:
# Geoapify have a 1000 address limit on their batch service.
# Loop through and assign the postcodes to a list no greater than 1000
postcodes_1 = []
postcodes_2 = []
postcodes_3 = []

for i, r in schools_df.iterrows():
    if i < 1000:
        postcodes_1.append(r["Postcode"])
    elif (i >= 1000) and (i < 2000):
        postcodes_2.append(r["Postcode"])
    else: postcodes_3.append(r["Postcode"])
        
print(f"postcodes_1 length: {len(postcodes_1)}")
print(f"postcodes_2 length: {len(postcodes_2)}")
print(f"postcodes_3 length: {len(postcodes_3)}")

postcodes_1 length: 1000
postcodes_2 length: 1000
postcodes_3 length: 192

In [7]:
# Setup geobatchpy client

client = Client(api_key=geo_key)

# assign the first 1000 postcodes
addresses = postcodes_1

# Run the first 1000 postcodes and assign to 'res'
res = client.batch.geocode(locations=addresses, parameters={"type":"postcode"}, simplify_output=True)

In [16]:
# Check length of res
print(len(res))

1000

In [21]:
# Repeat above steps for postcodes_2 and postcodes_3
# assign the next batch of postcodes
addresses = postcodes_2

# run the next batch
res2 = client.batch.geocode(locations=addresses, parameters={"type":"postcode"}, simplify_output=True)

In [24]:
print(len(res2))

1000

In [27]:
# assign the next batch of postcodes
addresses = postcodes_3

# run the next batch
res3 = client.batch.geocode(locations=addresses, parameters={"type":"postcode"}, simplify_output=True)

In [28]:
print(len(res3))

192

In [29]:
# Loop through the results and append to a new list
lat_lon = []

for r in res:
    lat_lon.append([r['lat'],r['lon']])

for r2 in res2:
    lat_lon.append([r2['lat'],r2['lon']])

for r3 in res3:
    lat_lon.append([r3['lat'],r3['lon']])
    
print(len(lat_lon))

2192

In [31]:
# Add the lat lon values to the df
schools_df[['lat','lon']] = lat_lon

schools_df.tail()

         URN                  School name  Postcode        lat       lon
2187  149608    Greenfield Primary School   WS4 1PL  52.614106 -1.955821
2188  149635              Smestow Academy   WV3 8HU  52.581579 -2.185747
2189  149639       Green Lea First School  ST18 0EU  52.881925 -2.033158
2190  149649  Much Wenlock Primary School  TF13 6JG  52.591979 -2.555041
2191  149872      The Oaks Primary School   B14 5RY  52.404985 -1.901706

In [32]:
# Pass the completed df to a csv
schools_df.to_csv("Resources/school_lat_lon_complete.csv", index=False)